project/tig_testing/NodeRED.json
[
  {
    "id": "7099b042.14a2a",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2c0ca589.07df3a",
    "type": "function",
    "z": "7099b042.14a2a",
    "name": "Temp EG",
    "func": "function getRandom(min, change) {\n    return change * Math.random() + min;\n}\n\nmsg.payload = `climate,location=austrasse_eg temp=${getRandom(17, 5)},hum=${getRandom(30, 15)}`\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 320,
    "wires": [["4b04575.451f6a8"]]
  },
  {
    "id": "9298584c.9dced8",
    "type": "inject",
    "z": "7099b042.14a2a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 310,
    "y": 320,
    "wires": [
      ["2c0ca589.07df3a", "386018c7.377478", "6ec47027.8f3bc", "17293043.5a01d"]
    ]
  },
  {
    "id": "4b04575.451f6a8",
    "type": "change",
    "z": "7099b042.14a2a",
    "name": "Topic sensors",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "sensors", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 320,
    "wires": [["59ee81a0.33c0e", "2b95ec0.ccb0714"]]
  },
  {
    "id": "59ee81a0.33c0e",
    "type": "mqtt out",
    "z": "7099b042.14a2a",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "988c9412.c14078",
    "x": 1010,
    "y": 320,
    "wires": []
  },
  {
    "id": "2b95ec0.ccb0714",
    "type": "debug",
    "z": "7099b042.14a2a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 460,
    "wires": []
  },
  {
    "id": "386018c7.377478",
    "type": "function",
    "z": "7099b042.14a2a",
    "name": "Temp OG",
    "func": "function getRandom(min, change) {\n    return change * Math.random() + min;\n}\n\nmsg.payload = `climate,location=austrasse_og temp=${getRandom(15, 3)},hum=${getRandom(30, 15)}`\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 420,
    "wires": [["4b04575.451f6a8"]]
  },
  {
    "id": "6ec47027.8f3bc",
    "type": "function",
    "z": "7099b042.14a2a",
    "name": "Door EG",
    "func": "function getRandom() {\n    return Math.random() > 0.7 ? 1 : 0; \n}\n\nmsg.payload = `door,location=austrasse_eg open=${getRandom(15, 3)}`\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 520,
    "wires": [["4b04575.451f6a8"]]
  },
  {
    "id": "17293043.5a01d",
    "type": "function",
    "z": "7099b042.14a2a",
    "name": "Door OG",
    "func": "function getRandom() {\n    return Math.random() > 0.6 ? 1 : 0; \n}\n\nmsg.payload = `door,location=austrasse_og open=${getRandom(15, 3)}`\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 620,
    "wires": [["4b04575.451f6a8"]]
  },
  {
    "id": "988c9412.c14078",
    "type": "mqtt-broker",
    "z": "",
    "name": "MQTT Broker",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
